@import "talwindcss";

.top-nav {
    background-color: cornflowerblue;
    position: sticky;
    overflow: hidden;
}
.top-nav button {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

body {
    margin: 0;
}

.introduction {
    text-align: center;
}